<!-- templates/index.html -->

{% extends "_base.html" %}
{% load static %}

{% block content %}
    <!-- Hero Section -->
    <header class="h-screen bg-cover bg-center text-white flex flex-col items-center justify-center relative" style="background-image: url('{% static "images/suivi_scolaire.png" %}');">
        <!-- Overlay pour améliorer la lisibilité -->
        <div class="absolute inset-0"></div>

       <!-- Contenu de la hero section -->
        <div class="relative z-10 flex items-center justify-center h-full px-4">
            <!-- Section gauche -->
            <div class="w-full md:w-1/2 text-center">
                <h1 class="text-4xl md:text-5xl font-bold mb-4">
                    Trouvez le répétiteur idéal pour vos enfants
                </h1>
                <p class="text-lg md:text-xl mb-6">
                    Connectez-vous avec des encadreurs qualifiés pour accompagner vos enfants dans leur réussite scolaire. Des solutions adaptées à chaque besoin.
                </p>
                <!-- Boutons -->
                <div class="flex space-x-4 justify-center">
                    <a href="{% url 'encadreurs' %}" class="bg-orange-500 text-white px-6 py-3 rounded-full text-md font-medium hover:bg-orange-600 transition duration-300">
                        Contacter un encadreur
                    </a>
                    <a href="{% url 'register' %}" class="bg-blue-700 text-white px-6 py-3 rounded-full text-md font-medium hover:bg-blue-800 transition duration-300">
                        Postuler maintenant
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- Section des problématiques principales -->
    <section class="py-16">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl md:text-4xl text-orange-500 font-bold text-center mb-4">Les Problématiques que Nous Résolvons</h2>
            <p class="text-lg md:text-xl text-center mb-8">
                Découvrez les défis auxquels sont confrontées les familles et comment nous pouvons vous aider à les surmonter.
            </p>
        </div>
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                
                <!-- Card 1 -->
                <div class="max-w-sm mx-auto bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 text-center">
                    <img class="rounded-t-lg mx-auto w-full h-50 object-cover" src="{% static 'images/problem1.jpg' %}" alt="Problem 1" />
                    <div class="p-5">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Accès Limité aux Encadreurs</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Trouver des encadreurs qualifiés et disponibles peut être un défi pour de nombreuses familles.
                        </p>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="max-w-sm mx-auto bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 text-center">
                    <img class="rounded-t-lg mx-auto w-full h-50 object-cover " src="{% static 'images/problem2.jpg' %}" alt="Problem 2" />
                    <div class="p-5">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Manque de Suivi</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Les familles ont du mal à s'assurer de la régularité et de la qualité des séances de cours dispensées.
                        </p>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="max-w-sm mx-auto bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 text-center">
                    <img class="rounded-t-lg mx-auto w-full h-50 object-cover " src="{% static 'images/problem3.jpg' %}" alt="Problem 3" />
                    <div class="p-5">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Absence de Vérification Fiable</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Il n'existe pas toujours de mécanismes fiables pour vérifier l'identité et les compétences des enseignants.
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Encadreurs -->
    <section class="relative py-16 bg-cover text-white" style="background-image: url('{% static "images/encadreurs_africains.jpg" %}'); height: 80vh; opacity: 0.9;">
        <div class="absolute inset-0  bg-opacity-60 z-0"></div>
        <div class="container mx-auto px-4 relative z-10 h-full flex items-center">
            <div class="w-full md:w-1/2 text-left">
                <h2 class="text-3xl md:text-4xl text-orange-500 font-bold mb-4">
                    Nos Encadreurs Qualifiés
                </h2>
                <p class="text-lg md:text-xl mb-6">
                    Découvrez une équipe d'encadreurs guinéens passionnés et expérimentés, prêts à accompagner vos enfants vers l'excellence académique. Nous mettons un point d'honneur à offrir un encadrement personnalisé et adapté à chaque élève.
                </p>
                <!-- Bouton -->
                <a href="{% url 'encadreurs' %}" class="bg-orange-500 text-white px-6 py-3 rounded-full text-md font-medium hover:bg-orange-600">
                    Voir les Encadreurs
                </a>
            </div>
        </div>
    </section>
    <!-- Section Témoignages -->
    <section class="py-16 ">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl md:text-4xl text-orange-500 font-bold text-center mb-4">Ce que disent nos utilisateurs</h2>
            <div id="carousel-temoignages" class="relative max-w-xl mx-auto">
                <!-- Slides -->
                <div class="carousel-slide bg-gray-100 p-6 rounded-lg shadow-md text-center hidden">
                    <div class="mb-4">
                        <img src="{% static 'images/user1.jpg' %}" alt="User 1" class="mx-auto w-32 h-32 rounded-full object-cover">
                    </div>
                    <p class="text-gray-700 italic mb-4">
                        "Grâce à cette plateforme, j'ai trouvé un excellent répétiteur pour mon fils. Ses notes se sont nettement améliorées en quelques mois."
                    </p>
                    <h4 class="text-lg font-semibold">Aïssata D.</h4>
                    <p class="text-gray-500 text-sm">Parent d'élève</p>
                </div>
                <div class="carousel-slide bg-gray-100 p-6 rounded-lg shadow-md text-center hidden">
                    <div class="mb-4">
                        <img src="{% static 'images/user2.jpg' %}" alt="User 2" class="mx-auto w-32 h-32 rounded-full object-cover">
                    </div>
                    <p class="text-gray-700 italic mb-4">
                        "En tant qu'encadreur, cette plateforme m'a permis de trouver des élèves motivés et de partager ma passion pour l'enseignement."
                    </p>
                    <h4 class="text-lg font-semibold">Mamadou K.</h4>
                    <p class="text-gray-500 text-sm">Encadreur</p>
                </div>
                <div class="carousel-slide bg-gray-100 p-6 rounded-lg shadow-md text-center hidden">
                    <div class="mb-4">
                        <img src="{% static 'images/user3.jpg' %}" alt="User 3" class="mx-auto w-32 h-32 rounded-full object-cover">
                    </div>
                    <p class="text-gray-700 italic mb-4">
                        "La flexibilité des horaires et la qualité des encadreurs ont vraiment fait la différence pour ma fille."
                    </p>
                    <h4 class="text-lg font-semibold">Fatou B.</h4>
                    <p class="text-gray-500 text-sm">Parent d'élève</p>
                </div>
                <div class="carousel-slide bg-gray-100 p-6 rounded-lg shadow-md text-center hidden">
                    <div class="mb-4">
                        <img src="{% static 'images/user4.jpg' %}" alt="User 4" class="mx-auto w-32 h-32 rounded-full object-cover" onerror="this.onerror=null; this.src='{% static 'images/default_avatar.webp' %}' ">
                    </div>
                    <p class="text-gray-700 italic mb-4">
                        "En tant qu'enseignante, j'ai trouvé une plateforme qui valorise mon travail, de rencontrer des élèves motivés et des parents impliqués."
                    </p>
                    <h4 class="text-lg font-semibold">Aissatou S.</h4>
                    <p class="text-gray-500 text-sm">Encadreur</p>
                </div>
                <div class="carousel-slide bg-gray-100 p-6 rounded-lg shadow-md text-center hidden">
                    <div class="mb-4">
                        <img src="{% static 'images/user5.jpg' %}" alt="User 5" class="mx-auto w-32 h-32 rounded-full object-cover" onerror="this.onerror=null; this.src='{% static 'images/default_avatar.webp' %}' ">
                    </div>
                    <p class="text-gray-700 italic mb-4">
                        "J'ai trouvé un répétiteur qui comprend les besoins spécifiques de mon enfant. Je suis très satisfait du service."
                    </p>
                    <h4 class="text-lg font-semibold">Mamadou K.</h4>
                    <p class="text-gray-500 text-sm">Parent d'élève</p>
                </div>
            <!-- Navigation -->
            <div class="flex justify-center mt-4 space-x-4">
                <button id="prev-slide" class="bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-full focus:outline-none" aria-label="Précédent">
                    &larr;
                </button>
                <button id="next-slide" class="bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-full focus:outline-none" aria-label="Suivant">
                    &rarr;
                </button>
            </div>
            <!-- Dots -->
            <div class="flex justify-center mt-4 space-x-2" id="carousel-dots"></div>
            </div>
        </div>
    </section>
    <!-- Section Présentation des Meilleures Écoles -->
    <section class="py-16">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl md:text-4xl text-orange-500 font-bold text-center mb-4">Nos Partenaires : Les Meilleures Écoles de Guinée</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <!-- École 1 -->
                <div class="max-w-sm mx-auto bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 text-center">
                    <img class="rounded-t-lg mx-auto  w-full h-50 object-cover " src="{% static 'images/ecole1.jpg' %}" alt="École 1" />
                    <div class="p-5">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">C.S Ahmed Sékou Touré</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Une école réputée pour son engagement envers l'excellence académique et le développement des talents.
                        </p>
                        <a href="https://www.google.com/maps?q=Ahmed+Sékou+Touré" target="_blank" class=" inline-block bg-blue-700 text-white px-6 py-2 rounded-full text-sm font-medium hover:bg-blue-800">
                            En savoir plus
                        </a>
                    </div>
                </div>
                <!-- École 2 -->
                <div class="max-w-sm mx-auto bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 text-center">
                    <img class="rounded-t-lg mx-auto  w-full h-50 object-cover " src="{% static 'images/ecole2.jpg' %}" alt="École 2" />
                    <div class="p-5">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Lycée Moderne Zaly</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Un établissement moderne offrant un enseignement de qualité et des infrastructures de pointe.
                        </p>
                        <a href="https://www.google.com/maps?q=Lycée+Moderne+Zaly" target="_blank" class=" inline-block bg-blue-700 text-white px-6 py-2 rounded-full text-sm font-medium hover:bg-blue-800">
                            En savoir plus
                        </a>
                    </div>
                </div>
                <!-- École 3 -->
                <div class="max-w-sm mx-auto bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 text-center">
                    <img class="rounded-t-lg mx-auto  w-full h-50 object-cover " src="{% static 'images/ecole3.jpg' %}" alt="École 3" />
                    <div class="p-5">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">G.S A. Dogomet Diallo</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Une école locale de renom en Guinée, offrant un enseignement de qualité supérieure et des programmes innovants.
                        </p>
                        <a href="https://www.google.com/maps?q=G.S+A.+Dogomet+Diallo" target="_blank" class="mt-4 inline-block bg-blue-700 text-white px-6 py-2 rounded-full text-sm font-medium hover:bg-blue-800">
                            En savoir plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Contact -->
    <section class="py-16 ">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl md:text-4xl text-orange-500 font-bold text-center mb-10">Contactez-nous</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <!-- Formulaire de contact -->
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="name" class="block text-gray-700 font-medium mb-2">Nom</label>
                            <input type="text" id="name" name="name" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                        </div>
                        <div class="mb-4">
                            <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
                            <input type="email" id="email" name="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                        </div>
                        <div class="mb-4">
                            <label for="message" class="block text-gray-700 font-medium mb-2">Message</label>
                            <textarea id="message" name="message" rows="4" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required></textarea>
                        </div>
                        <button type="submit" class="bg-blue-700 text-white px-6 py-3 rounded-full text-md font-medium hover:bg-blue-800">
                            Envoyer
                        </button>
                    </form>
                </div>
                <!-- Informations de contact -->
                <div class="flex flex-col justify-center">
                    <p class="text-lg text-gray-700 mb-4">
                        Vous avez des questions ou souhaitez en savoir plus ? N'hésitez pas à nous contacter via le formulaire ou à utiliser les informations ci-dessous.
                    </p>
                    <p class="text-gray-700">
                        <strong>Email :</strong> contact@karamoko.com
                    </p>
                    <p class="text-gray-700">
                        <strong>Téléphone :</strong> +224 627 11 63 54 / 621 07 63 16
                    </p>
                    <p class="text-gray-700">
                        <strong>Adresses :</strong> Kaloum, Conakry, Guinea | Hamdallaye, Dabola, Guinea | Yof, Dakar, Sénégal
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'js/carousel-testimonials.js' %}"></script>
{% endblock content %}