{% extends 'dashboard/base.html' %}

{% block content %}
    {% comment %} <h1>Bienvenue sur le tableau de bord</h1> {% endcomment %}
    {% if request.user.role == "repetiteur" and not request.user.repetiteur.is_soumis %}
        <div class="bg-blue-100 text-blue-500 p-4 rounded mb-4 text-center">
            ⚠️ Veuillez compléter votre profil pour soumettre votre candidature.
        </div>
    {% endif %}
    {% if request.user.role == "repetiteur" and request.user.repetiteur.is_soumis %}
        <div class="bg-green-100 text-green-500 p-4 rounded mb-4 text-center">
            ✅ Votre profil a été soumis. Il est en attente de validation par notre équipe.
        </div>
    {% endif %}

{% endblock %}