<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karamoko</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-blue-50 ">
    <!-- Navbar -->
    {% include 'partials/navbar.html' %}
    <!-- Main content -->
    <div class="container-fluid mx-auto mt-4">
        {% block content %}
            {% if messages %}
                <div class="container mx-auto mt-4">
                    {% for message in messages %}
                    <div class="p-4 mb-4 text-sm rounded-lg shadow-md 
                        {% if message.tags == 'success' %}bg-green-100 text-green-800{% endif %}
                        {% if message.tags == 'error' %}bg-red-600 text-white{% endif %}
                        {% if message.tags == 'warning' %}bg-yellow-100 text-yellow-500{% endif %}
                        {% if message.tags == 'info' %}bg-blue-100 text-blue-800{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock content %}
    </div>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script>
        // Mobile menu toggle
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
    {% comment %} <script src="{% static 'js/navbar-sticky.js' %}"></script> {% endcomment %}
</body>

</html>